nav{
    position: fixed;
    z-index: 1;
    width:100%;
}

.manage {
    display: none;
    color:white;

}
.mobilemenu {
    display: none;
}

nav{
    background-color: rgb(129, 129, 241);
    /* background-color: #CFB797; */
    border: 0;
    border-radius: 0;
    box-shadow: 1px 0 10px gray;
}
.navbar-header a{
    transition: all 0.2s;
    transform: scale(1);
    color: white;
}

.navbar-header a:hover{
    transform: scale(1.02);
    /* background-color: #faffff; */
    /* color: black; */
}

.navbar-header a.active{
    background-color: #e4e8fa;
    color: black;
}

.navbar-link a{
    transition: all 0.4s;
    transform: scale(1);
    color: whitesmoke;
}
.navbar-link a:hover{
    transform:scale(1.05);
    background-color: #faffff;
    color: black;

}
.navbar-link a.active{
    background-color: #faffff;
    color: black;
}

@media screen and (max-width: 992px){
    .manage {
        display: block;
        color:white;
    }
    .manage a{
        color: white;
    }
    .manage a.active{
        background-color: #e4e8fa;
        color: black;
    }
    .manage a.hover{
        background-color: #e4e8fa;
        color: black;
    }
    .menu{
        display: none;
    }
    .navbar-header{
        transition: none;
        transform: none;
    }
}