<div class="row">
    <div class="col-xs-12 col-md-12 col-xl-12">
<nav class="navbar">
    <div class="container-fluid">
    <div class="navbar-header">
        <a routerLink="/login" routerLinkActive="active" class="navbar-brand">TimeSheet</a>
    </div>
    <div class="collapse navbar-collapse" *ngIf = "islogedIn == true">
        <ul class="nav navbar-nav navbar-right manage">
            <li class="dropdown" appDropdown>
                <a role="button" class="dropdown-toggle manage" data-toggle="dropdown" >Manage<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" open>
                    <li><a routerLink="/addtask"><i class="fas fa-plus"></i> Add Task</a></li>
                    <li><a routerLink="/branch"><i class="fas fa-home"></i> Branch</a></li>
                    <li><a class="nav-link" *ngIf="role ==='Manager'" routerLink="/register" routerLinkActive="active"><i class="fas fa-user-plus"></i> Register New User</a></li>
                    <li><a class="nav-link" *ngIf="role ==='Manager'" routerLink="/userDetails" routerLinkActive="active"><i class="fas fa-users"></i> User Details</a></li>
                    <li><a routerLink="/login" role="button" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-link menu">
            <li><a routerLink="/login" role="button" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-link menu">
            <li><a routerLink="/branch" routerLinkActive="active"><i class="fas fa-home"></i> Your Branch</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-link menu" >
            <li><a class="nav-link" *ngIf="role ==='Manager'" routerLink="/register" routerLinkActive="active"><i class="fas fa-user-plus"></i> Register New User</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right menu navbar-link" *ngIf="role ==='Manager'">
            <li><a class="nav-link" routerLink="/userDetails" routerLinkActive="active"><i class="fas fa-users"></i> User Details</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right navbar-link menu">
            <li><a routerLink="/addtask" routerLinkActive="active"><i class="fas fa-plus"></i> Add Task</a></li>
        </ul>
        
       
    </div>
    <!-- <div class="navbar side-nav">
        <ul>
            <li>Branch</li>
        </ul>
    </div> -->
</div>
</nav>
</div>
</div>

