nav{
    position: static;
    z-index: 1;
}
.manage {
    display: none;

}
.mobilemenu {
    display: none;
}

/* a.active{
    background-color: gainsboro;
    color: blue;
    transform: none;
    transition: none;
} */

/* li{
    transition-property: all;
    transition-duration: 0.4s;
    transform: scale(1); */
    /* transition-timing-function: ease-in-out; */

/* } */
/* li:hover{ */
    /* transform: translateY(2px); */
    /* transform: scale(1.05);
    background-color: #e4e8fa;
    color:white;
} */

/* .navbar{
    background-color: #bac4f2;
    color: #fff;
} */
nav{
    background-color: rgb(129, 129, 241);
}
.navbar-header a{
    transition: all 0.4s;
    transform: scale(1);
    color: white;
}

.navbar-header a:hover{
    transform: scale(1.05);
    background-color: #e4e8fa;
    color: black;
}

.navbar-header a.active{
    /* background-color: gainsboro; */
    background-color: #e4e8fa;
    color: black;
}

.navbar-link a{
    transition: all 0.4s;
    transform: scale(1);
    color: whitesmoke;
}
.navbar-link a:hover{
    transform:scale(1.05);
    background-color: #e4e8fa;
    color: black;

}
.navbar-link a.active{
    background-color: #e4e8fa;
    color: black;
}

@media screen and (max-width: 992px){
    .manage {
        display: block;
        color:white;
    }
    .menu{
        display: none;
    }
    .mobilemenu {
        display: inline;
        color:white;
    }
    .navbar-header{
        transition: none;
        transform: none;
    }
}