<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">TimeSheet</a>
       
        <ul class="nav navbar-bar navbar-right" >
            <li><a class="nav-link" *ngIf="role ==='Manager'" routerLink="/register" routerLinkActive="active">Register New User</a></li>
        </ul>
        <ul class="nav navbar-bar navbar-right" *ngIf = "islogedIn == false">
            
            <li><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
   
    </div>
    <div class="collapse navbar-collapse" *ngIf="role ==='Manager'" open>
      
        <ul class="nav navbar-bar navbar-right">
         
            <li class="dropdown" appDropdown>
                <a role="button" class="dropdown-toggle" open data-toggle="dropdown" >Manage<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" open>
                    <li><a href="#">Branch</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#" role="button" (click)="onLogout()" >Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- <div class="navbar side-nav">
        <ul>
            <li>Branch</li>
        </ul>
    </div> -->
</div>
</nav>

