
.btn-group{
    display: flex;

}
.form-class {
    padding-top: 10px;
    padding-left: 10px;
}

form button{
    margin-bottom: 10px;
    /* width: 100%; */
}
.row{
    margin-top: 70px;
}
.container{
    margin: 50px 0 0 8%;
    padding: 0;
    height:600px;
    width: 1200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
-moz-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
}
.container h1{
    margin-top: 20px;
    margin-left: 8%;
}
.myform{
    margin: 0 0 0 8%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

}
mat-form-field{
    
    width: 20%;
}
button{
    width: 20%;
}
.myalert{
    background-color: rgb(161, 226, 161);
    padding: 10px;
    height: 40px;
    width: 20%;
}

@media screen and (max-width: 745px){
    .container{
        margin: 60px 0 0 0;
    padding: 0;
    height:fit-content;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
-moz-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
    }
    mat-form-field{
    
        width: 80%;
    }
    button{
        width: 80%;
    }
    .myalert{
        background-color: rgb(161, 226, 161);
        margin-bottom: 10px;
        padding: 10px;
        height: 40px;
        width: 80%;
    }
}