<div class="cover">
<div class="login-form">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <h1>TimeSheet</h1>
      
      <hr>
      <p>Log in to use TimeSheet</p>
      <div id="alert" class="alert alert-warning hidden" role="alert">
        <strong>Warning!</strong> Wrong Username or Password.
      </div>
      <div class="form-grp">
        <mat-form-field>
          <input matInput name="Username" id="username" autocomplete="off" placeholder="Username"  ngModel required>
          <mat-error> Enter Username</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="Password" id="Password" placeholder="Password" #password="ngModel" ngModel required>
          <mat-error >Enter Password</mat-error>
        </mat-form-field>
      </div>
        <!-- <div class="form-group">
          <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" #password="ngModel" ngModel required>
        </div>  
        <span class="help-block" *ngIf="!password.valid && password.touched">Enter value!!</span>
              -->
        <!-- <button type="submit" mat-raised-button class="btn btn-primary submit-button" [disabled]="!authForm.valid">Submit</button> -->
        <button type="submit" mat-raised-button  color="Primary" [disabled]="!authForm.valid">Submit</button>
      </form>
  </div>
</div>