<!-- <app-header></app-header> -->
<div class="login-form">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <h1>TimeSheet</h1>
      <div id="alert" class="alert alert-warning hidden" role="alert">
        <strong>Warning!</strong> Wrong Username or Password.
      </div>
      <hr>
        <div class="form-group">
          <p>Log in to TimeSheet</p>
          <!-- <label for="Username">User Name:</label> -->
          <input type="text" autocomplete="off" class="form-control" id="floatingInput" name="Username" placeholder="Username" #username="ngModel" ngModel required>
          <!-- <p>{{name}}</p> -->
          <span class="help-block alert-warning" style="color:red" *ngIf="!username.valid && username.touched">Enter value!!</span>
        </div>
        <div class="form-group">
          <!-- <label for="Password">Password</label> -->
          <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" #password="ngModel" ngModel required>
          <!-- <p>{{password}}</p> -->
          <span class="help-block alert-warning" style="color:red" *ngIf="!password.valid && password.touched">Enter value!!</span>
        </div>
        
        <button type="submit"  class="btn btn-primary submit-button" [disabled]="!authForm.valid">Submit</button>
      </form>
  </div>