.login-form{
    /* background-color: aliceblue; */
    font-family: 'Lato';
    display: block;
    padding: 10px;
    margin-top: 50px;
    margin-left: 30%;
    border-radius: 20px;
    text-align: center;
    height: 50vh;
    width: 50vh;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(160, 206, 214);
    /* box-shadow: 5px 5px 9px rgb(173, 173, 173); */
}

.label {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-group input{
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid blue;
    box-shadow: none;
}
.form-group input:blur{
    color: grey;
}
.form-group input:focus{
    border: 1px solid blue;
    background-color: rgb(239, 252, 255);
    
}
.form-group submit-button{
    width: 100%;
}