<div class="login-form">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <h2>Login</h2>
        <div class="form-group">
          <label for="Username">User Name:</label>
          <input type="text" class="form-control"  name="Username" (input)="onName($event)" placeholder="Username" ngModel required>
          <!-- <p>{{name}}</p> -->
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" name="Password" (input)="onPassword($event)" id="Password" placeholder="Password" ngModel required>
          <!-- <p>{{password}}</p> -->
        </div>
        
        <button type="submit"  class="btn btn-primary submit-button" [disabled]="!authForm.valid">Submit</button>
      </form>
  </div>