.cover {
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("https://images.unsplash.com/photo-1499377193864-82682aefed04?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1061&q=80"); */
    /* background-color: rgb(255, 249, 230); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30vh;
    padding-left: 35vw;

}

.login-form{
    background-color: #fff;
    display: block;
    font-family: 'Lato';
    display: block;
    padding: 10px;
    /* margin-top: 30vh;
    margin-left: 35vw; */
    border-radius: 10px;
    width: 50vh;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(175, 169, 169);
    box-shadow: 5px 5px 17px rgb(173, 173, 173);
}
.login-form h1{
    color: #777;
    text-align: center;
    margin-top: 20px;
}
.login-form p{
    text-align: center;
    font-size: 18px;
}


/* .form-group input{
  
    margin-top: 30px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid blue;
} */

/* .form-group input:focus {
    transform: scale(1);
} */

.form-group submit-button{
    width: 100%;
    padding-bottom: 20px;
}
button{
    width: 100%;
    background-color: rgb(129, 129, 241);
    color: #fff
}

.login-form a{
    align-items: center;
    text-align: center;
    text-decoration-line:underline;

}
.form-group a{
    align-items: center;
    text-align: center;
    text-decoration-line:underline;
}

/* input.ng-invalid.ng-touched{
    border-bottom: 1px solid red;

    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    
} */

/* input:hover {
    background-color: rgb(243, 243, 243);
}
input:focus {
    border: none;
    box-shadow: none;
    background-color: rgb(243, 243, 243);

} */

.help-block{
    margin-left: 10px;
}

.form-grp {
    position: relative;
    margin-top: 30px;
    height: 125px;
}

mat-form-field{
    width: 100%;

}
mat-form-field input{
    padding-top: 10px;
}

button{
    margin-top: 20px;
}