/* .container {
    background-color: aliceblue;
    height: 60vh;
    width: 80%;
    box-shadow: 0 0 5px aliceblue;
} */
.container {
    margin:8%;
    padding: 0;
    margin-top: 60px;
    height:600px;
    width: 1200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
-moz-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
}

form{
    padding-top: 20px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.form-class{
    align-items: center;
    padding-left: 3%;
    padding-right: 5%;
}
.form-group select{
    width: 100%;
}
.form-group input{
    width: 100%;
}
.btn-group{
    display: flex;
}
form button{
    margin-bottom: 10px;
    width: 100%;
    
}
.submit{
    background-color:rgb(129, 129, 241);
    /* border-radius: 0px; */
}
.form-check{
    padding: 10px 20px 30px 40px;
}


.table th{
    text-align: center;
}
.table td{
    text-align: center;
}

.tableHeading {
    display: flex;
}
.tableHeading h3 {
    display: flex;
    width: 90px;
}
.calendarapp {
    padding-top: 20px;
    padding-left: 20%;
    align-items: center;
}
.calendarapp h2{
    margin-bottom: 0;
    
}
.form-class p{
    font-family: Roboto;
    font-weight: 100;
}
/* #alert {
    padding-top: 0px;
    height: 25px;
    margin-bottom: 0;
} */

/* 
.form-group input,select{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background-color: rgba(245, 245, 245, 0.815);
}

.form-group input,select:focus{
    outline: none;
    box-shadow: none;
    background-color: white;
} */

@media screen and (max-width: 745px){
    .container{
        margin:0;
        padding:0;
        margin-top: 60px;
        height: fit-content;
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
        -moz-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
        box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
    }
    .form-class{
        margin: 0 0 0 30px;
        padding:0;
        width: 100%;
    }
    .form-group{
        width: 80%;
    }
    .btn-group{
        width: 80%;
    }
    .form-class hr{
        width:80%;
    }
    .calendarapp{
        margin:0;
        padding: 0 0 0 30px;
        width: 80%;
    }
    
}