<!-- <app-header></app-header> -->
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-4 form-class">
    <form #addtask="ngForm">
        <h1>Add Task</h1>
        <div id="alert" class="alert alert-success hidden" role="alert">
            <strong>Success!</strong> Data Added.
          </div>
        <div class="form-group">
            <label for="taskname" class="form-label">Task Name:</label>
            <input type="text" class="form-control" name="taskname" ngModel>
        </div>
        <div class="form-group">
            <label for="task" class="form-label">Task Category:</label><br>
            <select class="form-control" id="tasks" name="taskCategory" ngModel>
                <option  *ngFor="let task of tasks; let i = index" value="{{tasks[i].taskname}}">{{tasks[i].taskname}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="won" class="form-label">WON: </label>
            <input class="form-control" type="number" name="won" required ngModel number minlength="4" maxlength="4">
        </div>
        <div class="form-group">
            <label for="duration" class="form-label">Duration:</label>
            <input class="form-control" type="number" name="duration" [ngModel]="9">
        </div>
        <div class="form-checks">
            <label for="leave" class="form-label">Apply For Leave:</label>
            <input class="form-check" style="margin-left: 10px;" type="checkbox" name="leave" value="" ngModel>
        </div>
        <div class="btn-group">
            <button type="submit" (click)="onaddtask(addtask)" class="btn btn-success">Submit</button>
            <button type="submit" (click)="clearInfo(addtask)" class="btn btn-warning mb2">Clear</button>
        </div>
    </form>
</div>
<div class="col-xs-12 col-md-8">
    <h2>Past Data</h2>
    <!-- <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Date</th>
            <th scope="col">Copy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datas of data[0].workdetails; let i = index">
            <th scope="row">{{data[0].workdetails[i].taskname}}</th>
            <td>{{data[0].workdetails[i].date | date:"shortDate"}}</td>
            <td><a role="button" (click)="Copydata(data[0].workdetails[i])">Copy this to Today</a></td>
          </tr>
        </tbody>
      </table> -->
      <app-calendar></app-calendar>
</div>
</div>
</div>

