form{
    font-family: 'Lato',Arial, Helvetica, sans-serif;

}
/* form h1{
    /* text-align: center; */
    /* background-color: indianred; */
/* } */ 
.form-class{
    /* border: 1px solid black; */
    align-items: center;
    padding-left: 100px;
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 1px rgb(202, 202, 202); */
    /* margin: 3vh 24% auto; */
    
}
.form-group select{
    width: 100%;
}
.form-group input{
    width: 100%;
}
.btn-group{
    display: flex;

}
form button{
    margin-bottom: 10px;
    width: 100%;
}
.form-check{
    padding: 10px 20px 30px 40px;
}