/* .container {
    background-color: aliceblue;
    height: 60vh;
    width: 80%;
    box-shadow: 0 0 5px aliceblue;
} */
.container {
    margin-top: 60px;
}
form{
    padding-top: 20px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.form-class{
    align-items: center;
    padding-left: 3%;
    padding-right: 5%;
}
.form-group select{
    width: 100%;
}
.form-group input{
    width: 100%;
}
.btn-group{
    display: flex;
}
form button{
    margin-bottom: 10px;
    width: 100%;
}
.form-check{
    padding: 10px 20px 30px 40px;
}


.table th{
    text-align: center;
}
.table td{
    text-align: center;
}

.tableHeading {
    display: flex;
}
.tableHeading h3 {
    display: flex;
    width: 90px;
}
.calendarapp {
    padding-top: 10px;
    padding-left: 20%;
    align-items: center;
}

/* #alert {
    padding-top: 0px;
    height: 25px;
    margin-bottom: 0;
} */