<app-header></app-header>
<div class="row">
    <div class="col-xs-12">
        <!-- <p>{{data[0].id}}</p> -->
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Total Tasks</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let datas of data; let i = index">
                <th scope="row">{{data[i].id}}</th>
                <td>{{data[i].username}}</td>
                <td>{{data[i].workdetails.length}}</td>
                <td><a role="button" (click)="showdetails(data[i].id)">Details</a></td>
              </tr>
            </tbody>
          </table>
          <button 
          class="btn btn-success" 
          style="align-items: center;
          margin-left: 50vw;
          margin-top: 20px;
          ">Save</button>
    </div>
</div>