<app-header></app-header>
<div class="row">
    <div class="col-xs-12">
        <h1>Task Details of {{data[id].username}}</h1>
        <!-- <p>{{data[0].id}}</p> -->
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S.no</th>
                <!-- <th scope="col">Username</th> -->
                <th scope="col">Task Name</th>
                <th scope="col">Task Category</th>
                <th scope="col">WON</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Leave</th>
                <th scope="col">Approve</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let datas of data[id].workdetails; let i = index">
                <th scope="row">{{data[i].id}}</th>
                <!-- <td>{{data[id].username}}</td> -->
                <td>{{data[id].workdetails[i].taskname}}</td>
                <td>{{data[id].workdetails[i].taskcategory}}</td>
                <td>{{data[id].workdetails[i].won}}</td>
                <td>{{data[id].workdetails[i].date}}</td>
                <td>{{data[id].workdetails[i].duration}}</td>
                <td>{{data[id].workdetails[i].leave}}</td>
                 <td><input type="checkbox" name="name1" />&nbsp;</td> 
              </tr>
            </tbody>
          </table>
          <button 
          class="btn btn-success"
          style="align-items: center;
          margin-left: 50vw;
          margin-top: 20px;
          ">Save</button>
    </div>
</div>