.main_body{
    font-size: 14px;   
}
.main {
    /* background-color: rgb(255, 249, 230); */
    /* background-color: #f1e4e1; */
    /* background-color: #fffbfb; */
    background-image: url(../assets/double-bubble-outline.png);
    /* background: linear-gradient(to bottom,#fffbfb, #faffff ); */
    padding: 0;
    margin:0;
    width: fit-content;
    height:100vh;
    transition: translateY(100px) 1s ease-in;
}

footer {
    text-align: center;
}
.my-overlay{
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100% ;
    height: 100%;
    position: fixed;
    /* background-color: rgba(0,0,0,0.9) !important; */
    /* background-color: #f1e4e1; */
    /* background-color: #f3f0f0; */
    background-color: #fffbfb;
    cursor: pointer ;
    visibility: visible ;
    transition: visibility 0s, opacity 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait;
}