<div style="width:50%;" id="calendar">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<br>
<table style="padding: 10px; border-spacing: 20px;">
    <tr>
        <td>
            <div class="holiday">Holiday</div>
        </td>
        <td>
            <div class="filled">Timesheet Filled</div>
        </td>
        <td>
            <div class="notFilled">Timesheet Not Filled</div>
        </td>
        <td>
            <div class="leave">Leave</div>
        </td>
    </tr>
</table>