form{
    padding-top: 10px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}
form h1{
    text-align: center;
    background-color: salmon;
}
.form-class{
    align-items: center;
    padding-left: 8%;
    padding-top: 10px;
    margin-top: 70px;
}

.form-group input{
    width: 100%;
}
.btn-group{
    display: flex;
}
form button{
    margin-bottom: 10px;
    width: 50%;
}

small{
    margin-bottom: 10px;
}