<app-header></app-header>
<div class="col-xs-12 col-md-6">
    <h1>Add New User</h1>
    <div class="registration">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" name="Username" ngModel required id="Username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name ="Password" ngModel required id="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="Role">Role</label>
                <input type="text" class="form-control" name="Role" id="Role" ngModel required placeholder="Role">
            </div>
            <!-- <div class="form-group">
                <label for="Name">Full Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Full Name">
            </div>
            <div class="form-group">
                <label for="Branch">Branch</label>
                <input type="text" class="form-control" id="Branch" placeholder="Branch">
            </div> -->
            <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">Save</button>

        </form>
    </div>
</div>