<!-- <app-header></app-header> -->
<div class="container">
    <div class="col-xs-12 col-md-6 form-class">
            <h1>Add New User</h1>
            <div id="alert" *ngIf="alerterror" class="alert alert-success" role="alert">
                <strong>Success!</strong> New User Added.
            </div>
            <small>Add a new user to timesheet app</small>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input matInput type="text" class="form-control" name="Username" ngModel required id="Username">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input matInput type="password" class="form-control" name ="Password" ngModel required id="Password">
                </div>
                <div class="form-group">
                    <label for="Role">Role</label>
                    <input type="text" matInput class="form-control" name="Role" id="Role" ngModel required>
                </div>
                <!-- <div class="form-group">
                    <label for="Name">Full Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <label for="Branch">Branch</label>
                    <input type="text" class="form-control" id="Branch" placeholder="Branch">
                </div> -->
                <div  role="group">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!authForm.valid">Save</button>
                <button type="button" mat-raised-button color="accent" (click)="clear(authForm)" [disabled]="!authForm.valid">Clear</button>
                
                </div>
                
            </form>
    
    </div>
</div>