.container{
    margin: 8%;
    margin-top: 60px;
    height:600px;
    width: 1200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
-moz-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
}
form{
    padding-top: 10px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}
form h1{
    text-align: center;
    background-color: salmon;
}
.form-class{
    align-items: center;
    padding-top: 20px;
    
}

.form-group input{
    width: 100%;
}
.btn-group{
    display: flex;
}
form button{
    margin-bottom: 10px;
    width: 50%;
}

small{
    margin-bottom: 10px;
}
@media screen and (max-width: 745px){
    .container{
        margin: 100px 0 0 0;
    padding: 0;
    height:fit-content;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
-moz-box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
box-shadow: 0px 0px 4px 2px rgba(227,227,227,0.35);
    }
    
}